.category-section{
    display:flex;
    flex-direction: column;
    width:48%;
}
.news-cards{
 display:flex;
 flex-wrap:wrap;
 padding:0 2rem;
 width:fit-content;
 /* border:2px solid black; */
}
.category-section-header{
    display:flex;
    align-items: center;
    gap:3rem;
    /* border:2px solid blue; */
}
.pagination-arrows{
    display:flex;gap:1rem;
}
.pagination-arrows-right,.pagination-arrows-left{
    width:2.2rem;height:2.2rem;
    background:#10A0EB;color:white;
    padding:2px;
    cursor:pointer
}
.pagination-arrows-right:hover,.pagination-arrows-left:hover{
    background-color: rgb(7, 111, 164);
}
.image-slider img{
    width:10rem;
    height:18rem;
}