.footer{
    display:flex;
    flex-direction: column;
    gap:1rem;
    width:80%;
    margin:auto;
    background-color:#F7FCFF;
}
.footer-top{
    display:flex;
    gap:5rem;
    justify-content: space-evenly;
    padding:3rem 0;
  
 
    flex-wrap: wrap;
}
.footer-top .left{
    display:flex;flex-direction: column;
    gap:1rem;
}
.news-logo{
    display:flex;
    gap:1rem;
    align-items: center;
}
.news-logo h1{
    font-weight:500;
}
.social-media-icons{
    display:flex;
    gap:1rem;
}
.social-media-icons .icon{
    font-size:1.2rem;
    width:1.5rem;
    height:1.5rem;
}
.facebook-icon{
    color:blue;
}
.whatsapp-icon{
    color:green;
}
.instagram-icon{
    color:#B21B83;
}
.youtube-icon{
    color:red;
}
.gmail-icon{
    color:gray;
}
.right{
    display:flex;
    gap:5rem;
}
.right ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.right ul li{
    cursor:pointer;
}
/* .right ul li:hover{
color:#076FA4;
text-decoration: underline;
} */
 ul h2{
    margin-bottom: 1rem;
    font-weight:600
}
.right ul li{
    position: relative;
}
.right ul li:hover{
    color:#10a0eb;
}
.right ul li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #076FA4;
    transition: width 0.3s ease-in-out;
}
.right ul li:hover::after{
width:100%;
}
.footer-bottom-body{
    padding:1rem 2rem;
    display:flex;
    justify-content: space-between;
   
    
}
.footer-bottom-body p{
    color:gray;
    font-size:0.9rem;
    cursor:pointer
}